<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only | <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1><a href="/">Members Only</a></h1>
  </header>
  <main>
    <% if (user) { %>
      <h2>
        Welcome, <%= user.name %>!
      </h2>
      <button onclick="location.href='/members-only/log-out'" type="button" class="button">Log Out</button>
      <% } %>
  </main>
  <footer>
    <p>Made by <a href="https://github.com/christina172?tab=repositories">christina172</a></p>
  </footer>
</body>

</html>